.jxrwgt-ctr-cl {
  background: #fff !important;
  height: 100%;
}
.jxrwgt-wrap-cl {
  position: relative;
  cursor: pointer;
  margin: 20px 0px !important;
  padding: 0px 30px !important;
  width: 255px !important;
  flex: 0 0 255px !important;
  max-width: 255px !important;
}
.jxrwgt-wrap-cl:nth-child(odd) {
  border-right: 2px solid grey;
}
.jxrwgt-itm-title-cl {
  padding-top: 15px;
  font-size: 12px;
  line-height: 1;
  text-transform: capitalize;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.jxrwgt-itm-timgwrap-cl {
  position: relative;
  padding-top: 56.25%;
  box-sizing: border-box;
}
.jxrwgt-itm-timg-cl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 0;
  width: auto;
  height: 100%;
}
.jxrwgt-itm-cat-cl {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 30px;
  background: rgba(0,0,0,0.65);
  padding: 0px 5px;
  color: white;
  width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  white-space: nowrap;
  text-transform: capitalize;
}