@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.jxrwgt-ctr-cl {
  background: #fff !important;
  height: 100%;
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
}
.jxrwgt-wrap-cl {
  position: relative;
  cursor: pointer;
  margin: 10px 0px !important;
}
.jxrwgt-wrap-cl:nth-child(odd) {
  border-right: 2px solid grey;
}
.jxrwgt-itm-title-cl {
  padding-top: 10px;
  font-size: 12px;
  line-height: 1;
  text-transform: capitalize;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: 'Roboto', sans-serif;
}
.jxrwgt-itm-timgwrap-cl {
  position: relative;
  box-sizing: border-box;
}
.jxrwgt-itm-timg-cl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 0;
  width: auto;
  height: 100%;
}
.jxrwgt-itm-cat-cl {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.65);
  padding: 0px 5px;
  color: white;
  width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}