@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.jxrwgt-ctr-cl {
  background: #fff !important;
}
.jxrwgt-wrap-cl {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px 10px !important;
  padding: 10px 0px !important;
  width: 100% !important;
  flex: unset !important;
  max-width: 100% !important;
  border-bottom: 1px solid grey;
}
.jxrwgt-wrap-cl:last-child {
  border-bottom: none;
}
.jxrwgt-itm-title-cl {
  padding-left: 10px;
  font-size: 12px;
  line-height: 1.3;
  text-transform: capitalize;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  flex: 1;
  font-family: 'Roboto', sans-serif;
}
.jxrwgt-itm-timgwrap-cl {
  position: relative;
  box-sizing: border-box;
}
.jxrwgt-itm-timg-cl {
  max-width: none !important;
  width: auto !important;
}
.jxrwgt-itm-cat-cl {
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 0px;
  background: rgba(0,0,0,0.65);
  padding: 0px 5px;
  color: white;
  width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}