.jxrwgt-ctr-cl {
  background: #fff !important;
}
.jxrwgt-wrap-cl {
  position: relative;
  cursor: pointer;
}
.jxrwgt-itm-title-cl {
  padding-top: 10px;
  font-size: 15px;
  line-height: 1.3;
  text-transform: capitalize;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.jxrwgt-itm-timgwrap-cl {
  position: relative;
  padding-top: 56.25%;
}
.jxrwgt-itm-timg-cl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 0;
  width: auto;
  height: 100%;
}
.jxrwgt-itm-cat-cl {
 color: #999;
 font-size: 12px;
 padding-top: 10px;
 line-height: 1;
}